/* src/style.css */
.pagination-container {
    display: flex;
    align-items: center;
  }
  .page-numbers {
    background-color: rgb(238, 219, 111);
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    list-style: none;
    margin: 50px;
  }
  
  .li-page-numbers {
    margin: 0 5px;
  }
  
  /* 기본 버튼 스타일 */
  .button-page-numbers {
    border: 1px solid #ccc; /* 박스 형태를 위한 테두리 */
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px; /* 박스 크기 조정 */
    margin: 5px; /* 버튼 간격 조정 */
    transition: background-color 0.3s; /* 호버 시 색상 전환을 위한 transition 효과 */
  }
  
  /* 선택된 페이지 버튼의 스타일 */
  .button-page-numbers.active {
    color: white;
    background-color: green; /* 선택된 버튼의 배경색 */
    border-color: green; /* 선택된 버튼의 테두리 색상 */
  }
  
  /* 호버 시 배경색이 변경되는 스타일 */
  .button-page-numbers:hover {
    background-color: #F0F0F0; /* 호버 시 변경될 배경색 */
    border-color: #F0F0F0; /* 호버 시 변경될 테두리 색상 */
  }
  .paging-2 {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .paging-2:hover {
    background-color: #ddd;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
  }
  