.question_item {
    margin-bottom: 20px;
}

.question_item p {
    margin: 0;
    margin-bottom: 10px;
}

.question_item > input {
    width: calc(100% - 100px);
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

.question_item .question_answer {
    width: calc(100% - 120px); /* 조정 필요 */
    background-color: rgb(233, 251, 254);
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

.question_item button {
    background-color: rgb(233, 251, 254);
    position: relative;
    border: none;
    bottom: 28px;
    left: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
