.signup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 설정 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 모달 설정 */
.signup-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 내용을 수직 가운데 정렬 */
  align-items: center; /* 내용을 수평 가운데 정렬 */
  max-width: 80%; /* 모달 최대 너비 지정 */
  text-align: center; /* 내부 텍스트 가운데 정렬 */
}

.signup-modal-close-button, .signup-modal-delete-button {
  padding: 10px 20px;
  background-color: rgb(77, 173, 228); /* 버튼 배경 컬러 지정 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* 삭제하기 버튼과 닫기 버튼 사이의 간격 조정 */
}

.signup-modal-button {
  margin-left: 10px; /* 닫기 버튼의 왼쪽 여백 추가 */
  margin-right: 10px; /* 삭제하기 버튼과 닫기 버튼 사이의 간격 조정 */
}

.signup-modal-close-button:hover, .modal-delete-button:hover {
  background-color: rgb(63, 138, 182); /* 호버 시 배경 컬러 변경 */
}
