
.PwSearch{
    width: 420px;
    margin : 0 auto;
    background: white;
    border: 2px solid rgba(255,255,255,.2);
    color: gray;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 100px;
    box-shadow: 0 0 5px gray;
}
.PwSearch h1{
    font-size : 22px;
    color: #000000;
    text-align: center;

}
.PwSearch h5{
    font-size : 15px;
    text-align: center;

}
.PwSearch .pwinput-box{
    position : relative;
    width: 83.4%;
    height: px;
    margin: 30px 0;
    

}
.pwinput-box input{
    width : 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    color: gray;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: gray;
}

.PwSearch button{
    position: relative;
    width: 70%;
    height: 45px;
    left: 68px;
    top: 10px;
    margin-bottom: 30px;
    background-color: rgb(77, 173,228);
    border: none;
    outline:none;
    border-radius: 8px;
    cursor: pointer;
    font-size:16px;
    color: ragb(77,172,228);
    font-weight: 700
}

.PwSearch button:active{
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0; 
}

.PwSearch button:hover{
    box-shadow: 0 0 6px gray;
    
}
