
.tier{
    display: flex;
    flex-direction: column;
    margin : 0 auto;
    justify-content:center ;
    width: 100%;

    
 
  
}
.tier p{
  text-align: center;
  width: 45%;
}
.date {
  position: relative;
  left: 70%;
  bottom:35px;
  width: 20%;
}
.tier input{
  margin: auto ;
  width: 50%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 15px 0px;
}
.tier input:focus{
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}
.myTier{

  width: 40%;
  height: 400px;
  margin : 0 auto;
  background: white;
  border: 2px solid rgba(255,255,255,.2);
  color: gray;
  border-radius: 10px;
  padding: 30px 40px;
  margin-top: 100px;
  box-shadow: 0 0 5px gray;
}
.myTier .myTier{
  display: flex;
}
.myTier .my_progress{
  position: relative;
  top: 30%;
}
.tier .rank_wrapper{
  display : flex;
  margin: 0 auto;
  width: 50%;
  flex-direction : column;

  /* gap : 10px; */
}

