.question_div {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    background: rgb(250, 253, 255);
    border: 2px solid rgba(255, 255, 255, .2);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 6cqmin;
    box-shadow: 0 0 5px gray;
}
.questionTitle_div{
    margin-top:100px;
}

.question_top {
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex; /* 추가된 부분: 버튼들을 한 줄로 정렬 */
    flex-wrap: wrap;
    padding-bottom:10px ;
    align-items: center; /* 추가된 부분: 버튼들이 수직 중앙에 정렬되도록 함 */
}


.question_top > input{
    padding: 10px 20px;
    width: 140px;
    height: 10px;
    border-radius:40px ;
}
.span_span{
    width: 100%;
    display: flex;
    border-radius: 8px;
    background-color: rgb(198, 242, 255);
}
.span_span > span{
    padding: 10px;

}

.span_span .span_create{
    padding-left: 145px;
}
.span_span .span_title{
    padding-left: 45px;
}
.question_list{
    display : flex;
    flex-direction : column;
    gap : 20px
}
.questionTitle_div{
    text-align: center;
    width: 500px;
    margin-left: 580px;
    font-weight: bold;
    font-size: 32px;
}