.mainnav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
}
.nav__mainmenu {
    display: flex;
    margin-top: -4px;
    height: 60px;
    justify-content: center;
    list-style-type: none; /*점 없애는 코드*/
}
/*메뉴바 - 글 간격*/
.nav__mainmenu > li {
    padding: 1.5rem;
}
/*메뉴바 - 글 색상*/
.nav__mainmenu--foused {
    color: rgb(77, 173, 228);
}
.nav_mypagebutton{
    height: 50px;
    width: 100px;
    margin-top: 13px;
    background-color: rgb(77, 173, 228);
    border-radius: 20px;
    border: none;
}
.nav_mypagebutton:hover{
    background-color: rgb(124, 201, 245);
}
.nav_writebutton{
    height: 50px;
    width: 100px;
    margin-top: 13px;
    background-color: rgb(64, 236, 101);
    border-radius: 20px;
    border: none;
}
.nav_writebutton:hover{
    background-color: rgb(124, 245, 152);
}