
.account {
    color: #000000;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    left: 290px;
    top: -25px;
    width: 280px;
    height: 63px;
    box-sizing: border-box;
  }
  
  .p-box {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    width: 815px;
    height: 105px;
    position: absolute;
    left: 387px;
    top: 605px;
  }
  
  .p-button {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    width: 177.22px;
    height: 59px;
    position: absolute;
    left: 972.72px;
    top: 625px;
  }
  
  .p-change {
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 972px;
    top: 625px;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .update {
    color: #000000;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 415.03px;
    top: 640px;
    width: 497.61px;
    height: 50px;
  }
  
  .p {
    color: #000000;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    left: 387px;
    top: 560px;
    width: 144.18px;
    height: 44px;
  }
  
  .accountbox {
    background-color: #ffffff;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    border-width: 1px;
    width: 815px;
    height: 350px;
    position: absolute;
    left: 387px;
    top: 180px;
  }
  
  .picon {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 350px;
    top: 30px;
    object-fit: cover;
  }
  
  .a-check {
    color: #4b9428;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 530px;
    top: 260px;
    width: 161px;
    height: 37px;
  }
  
  .check {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 490px;
    top: 260px;
    object-fit: cover;
  }
  
  .name {
    color: #000000;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    left: 375px;
    top: 195px;
    width: 266px;
    height: 71px;
  }
  
  .email {
    color: #757575;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 170px;
    top: 250px;
    width: 440px;
    height: 76px;
  }
  
  .a-button {
    background: #028ef3;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    position: absolute;
    left: 675px;
    top: 285px;
  }
  
  .a-buttontext {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    left: 670px;
    top: 280px;
    width: 123px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .info {
    color: #000000;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: -50px;
    width: 144px;
    height: 44px;
  }
  
  .deletebox {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    width: 815px;
    height: 105px;
    position: absolute;
    left: 0px;
    top: 620px;
  }
  
  .deletebutton {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    width: 177.22px;
    height: 59px;
    position: absolute;
    left: 585px;
    top: 20px;
  }
  
  .deletem {
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 585px;
    top: 20px;
    width: 180px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .deletemessage {
    color: #565656;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    left: 0px;
    top: 25px;
    width: 562px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .a-delete {
    color: #000000;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: -50px;
    width: 144px;
    height: 44px;
  }
  
  .m-menubox {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    width: 230px;
    height: 250px;
    position: absolute;
    left: 50px;
    top: 80px;
  }
  
  .m-menu1,
  .m-menu2,
  .m-menu3,
  .m-menu4 {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 52px;
    top: 60px;
    width: 160px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
  }
  
  .m-menu2 {
    top: 100px;
  }
  
  .m-menu3 {
    top: 140px;
  }
  
  .m-menu4 {
    top: 180px;
  }
  
  .m-account {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 95px;
    top: 100px;
    width: 265px;
    height: 23px;
  }
  
  .m-menu1:hover,
  .m-menu2:hover,
  .m-menu3:hover,
  .m-menu4:hover {
    color: #028ef3;
    background-color: #d9d9d9; 
  }
  
  .p-change:hover {
    background-color: #f0f0f0; 
    color: #028ef3; 
    cursor: pointer; 
  }
  
  .a-buttontext:hover {
    background-color: #f0f0f0; 
    color: #028ef3; 
    cursor: pointer; 
  }
  
  .deletem:hover {
    background-color: #f0f0f0;
    color: #028ef3;
    cursor: pointer;
  }
  .modal-close-button1 {
    padding: 10px 20px;
    background-color: rgb(77, 173, 228);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    transform: translateX(-50%); /* 수평 가운데 정렬을 위한 변형 */
  }
  
  .modal-close-button1:hover {
    background-color: rgb(63, 138, 182);
  }