.modal {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%; /* 화면 상단에서 50% 떨어진 위치에서부터 */
  left: 50%; /* 화면 왼쪽에서 50% 떨어진 위치에서부터 */
  transform: translate(-50%, -50%); /* 요소의 중심을 기준으로 50%만큼 이동하여 화면 가운데로 */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content input {
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
  }
  
  .modal-content button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  