.step-progress-bar {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.step-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  position: relative;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  z-index: 1; /* step이 progress-line 위에 나타나도록 z-index 설정 */
}

.step.current {
  background-color: #8fa9f1; /* 현재 스텝 배경색 */
  color: #fff;
}

.step.missed {
  background-color: red; /* 놓친 스텝 배경색 */
  color: #fff;
}

.progress-line {
  position: absolute;
  top: 25px; /* step의 아래에 위치하도록 조정 */
  left: 0;
  height: 4px;
  background-color: #8fa9f1;
  transition: width 0.3s ease;
  z-index: 0; /* progress-line이 step 아래에 나타나도록 z-index 설정 */
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  background-color: #8fa9f1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 각 단계에 대한 스타일 설정 */
.step.step-0 {
  left: 0;
}

.step.step-1 {
  position: relative;
  left: -58px;
}

.step.step-2 {
  position: relative;
  right: 100px;
}

.step.step-3 {
  position: relative;
  right: 90px;
}

.step.step-4 {
  position: relative;
  right: 55px;
}

.step.step-5 {
  position: relative;
  left: 20px;
}
