.step-progress-bar {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.step-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  z-index: 1;
}

.step.current {
  background-color: #8fa9f1;
  color: #fff;
}

.progress-line {
  position: absolute;
  top: 25px;
  left: 0;
  height: 4px;
  background-color: #8fa9f1;
  transition: width 0.3s ease;
  z-index: 0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  background-color: #8fa9f1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 각 단계에 대한 스타일 설정
.step.step-0 {
  /* 1일 첫 번째 단계의 스타일 설정 */


.step.step-1 {
  /* 3일 두 번째 단계의 스타일 설정 */
  position: relative;
  left: -85px;
}

.step.step-2 {
  /* 7일 세 번째 단계의 스타일 설정 */
  position: relative;
  right: 90px;
}

/* 나머지 단계에 대한 스타일 설정 */
.step.step-3 {
  /* 30일 네 번째 단계의 스타일 설정 */
  position: relative;
  right: 90px;
}

.step.step-4 {
  /* 다섯 번째 단계의 스타일 설정 */
  position: relative;
  right: 55px;
}

.step.step-5 {
  /* 여섯 번째 단계의 스타일 설정 */
  position: relative;
  left: 50px;
}
