.titleInput{
    position : relative;
    left : 141px;
    bottom : 116px;
    width: 300px; /* 예시로 고정 너비를 설정하였으니 필요에 따라 조절해주세요. */
    height: 1rem;
    margin-bottom: 0px; /* 각 요소 사이의 간격 조절 */
    background: white;
    border: 1px solid gray;
    color: black;
    text-align: center;
    padding: 20px 20px;
    border-radius: 0px 0px 5px 0px;
}
.titleInput input{
    width: 250px;
    height: 30px;
    text-align: center;
   margin-top: -30px;
}