.Memo{
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content:center ;

    
}
.Memo form {
    width: 70%;
    text-align: end;

   
}

.Memo h6 img {
    position:fixed;
    left: 30px;
    width: 50px; 
    height: auto;
    
  }
.Memo button{
    position: relative;
    top: 30px;
  
}
    
.editor{
    position: relative;
    bottom: 50px;
    border: 0.1rem solid;
    
}