.Memo{
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content:center ;
        width: 40%;
   
    text-align: end;


    
}
.Memo_form{

}

.Memo p{
    text-align: start;
    position: relative;
    top: 70px;
    width: 70px;
    
}
p img{
    width: 100%;
    height: 100%;
}
.Memo button{
    position: relative;

    top: 30px;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: rgb(77, 173,228);
    border-radius: 8px;
    font-weight: 700

  
}
.temporaryStorage{
  
}

.save{

}
.editorStyle .limit{
    position: relative;
    bottom: 60px;

  
}
.wrapper-class {
   min-width: 400px;
    position: relative;
    height: 100%;
    bottom:90px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
  }
  .editor-class {

    border-radius: 5px 5px 5px 5px;
 

    border: 1px solid gray;
  }

.memo_top{

 width: 100%;
  margin-top: 80px; /* 위에 100px 여백을 두고 화면 가운데 정렬 */

}