.Read{
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    box-shadow: rgb(100, 100, 100, 0.2) 0px 0px 29px 0px ;
    padding: 0px 20px;
}

.wrapper{
    position: relative;
    top: 100px
}